{% extends 'base.html.twig' %}

{% block title %}Квест кімнати{% endblock %}

{% block main %}
    <div class="main-wrapper2">
        <div id="banner">
            <h2 class="logo">{{ room.name }}</h2>
        </div>
        <div class="kvestroom-opus">
            <div class="img3">
                <img src="{{ room.image }}">
            </div>
            <div class="opus2">
				<span class="text-opus">
					{{ room.description }}
				<br>
				<br>
				<div class="time">
				Квест розрахований на <span class="opus3">{{ room.peopleAndTimeInfo[0] }}</span><br>
				Тривалість квесту: <span class="opus3">{{ room.peopleAndTimeInfo[1] }}</span><br>
				</div>
				<a href="{{ path('app_rooms') }}" title="Повернутися назад"><img src="{{ asset('images/back2.png') }}" class="back"></a>
				</span>
            </div>
        </div>
    </div>
{% endblock %}