<form action="{{ path('app_admin_edit') }}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="room" value="{{ roomToEdit.id }}">
    <div class="field-block">
        <label for="roomName">Назва: </label>
        <input name="name" required id="roomName" value="{{ roomToEdit.name }}"/>
    </div>
    <div class="field-block">
        <label for="roomName"> Фото: </label>
        <input class="file" type="file" name="photo">
    </div>
    <div class="field-block">
        <label for="roomDescription">Опис: </label>
        <textarea id="roomDescription" required name="description">{{ roomToEdit.description }}</textarea>
    </div>
    <div class="field-block">
        <label for="peopleAndTimeInfo">
            Час та кількість людей <br>
            Час у хв., кількість від - до <br>
            Приклад: <br>
            2-4|45
        </label>
        <input id="peopleAndTimeInfo" required name="peopleAndTimeInfo" value="{{ roomToEdit.peopleAndTimeInfo }}"/>
    </div>
    <div class="field-block">
        <span class="check-text">Зробити доступною</span>
        <input id="check" name="available" value="1" checked type="radio"> так
        <input id="check" name="available" value="0" type="radio"> ні
    </div>
    <button type="submit" name="confirm_edit" value="confirm_edit!">Підтвердити</button>
</form>